/* scrollbar */
@import "simplebar-react/dist/simplebar.min.css";

.logo {
  display: block;
  margin: 0 auto;
}

.swal2-input#swal-input1 {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 12px;
}

/* Tambahkan gaya ke input tanggal */
.swal2-input#swal-input2 {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
